:root {
	--columnRow: 10;
	--gridSize: 50px;
	--mark: 'X';
}

body {
	margin: 0;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.optionContainer__playersSetter {
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: center;
	align-items: center;
	gap: 15px;
	margin-bottom: 15px;
}

.optionContainer__playerOptions {
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: center;
	align-items: center;
	gap: 15px;
	margin-bottom: 15px;
}

.optionContainer__optionAccepter {
	grid-column: span 2;
}

.player__field--name {
	width: auto;
	height: auto;
}

.player__field--nameInput {
	width: auto;
	height: auto;
}

.player__field--mark {
	width: auto;
	height: auto;
}

.player__field--markInput {
	width: auto;
	height: auto;
}

.turnIndicator {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.board {
	display: grid;
	grid-template-columns: repeat(var(--columnRow), auto);
	grid-template-rows: repeat(var(--columnRow), var(--gridSize));
	justify-content: center;
	align-content: center;
}

.board__square {
	width: var(--gridSize);
	height: var(--gridSize);
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bolder;
	font-size: 2.5rem;
	cursor: pointer;
}

.board__square--filled {
	width: var(--gridSize);
	height: var(--gridSize);
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bolder;
	font-size: 2.5rem;
	cursor: not-allowed;
}

.board__square:not(.filled):hover::before {
	width: var(--gridSize);
	height: var(--gridSize);
	content: var(--mark);
	display: contents;
	color: lightgray;
}


.messageContainer {
	color: white;
	font-size: 5rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .9);
	display: none;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.messageContainer__restartButton {
	margin-bottom: 15px;
}

.hide {
	display: none;
}

@media screen and (min-width: 500px) {
	.optionContainer__playerOptions{
		grid-template-columns: repeat(4, auto);
	}

	.optionContainer__playersSetter {
		grid-template-columns: repeat(4, auto);
	}

	.optionContainer__optionAccepter {
		grid-column: span 4;
	}
}
