:root {
	--columnRow: 10;
	--gridSize: 50px;
}

body {
	margin: 0;
}

.board {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(var(--columnRow), auto);
	grid-template-rows: repeat(var(--columnRow), var(--gridSize));
	justify-content: center;
	align-content: center;
}

.board__square {
	width: var(--gridSize);
	height: var(--gridSize);
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bolder;
	font-size: 2.5rem;
}
